<nav>
  <% if logged_in? %>
  <div class="container">
      <h1><%=current_user.username.capitalize()%>, welcome to MyGames!</h1>
      
    </div>
    <a href="/games"> View Game Collection</a>
    <p></p>
    <a href="/games/new"> Add a new game </a>
    <p></p>
    <a href="/logout"> Log Out </a>
    

  <% else %>
  <div class="container">
      <h1> Welcome to MyGames!</h1>
      <h3> The Easy-To-Use Game Collection Management System!</h3>
    </div><br>
  <h2>Please sign in or sign up below:</h2>
    <a href="/login"> Sign In </a> 
    &nbsp
    <a href="/signup">Sign Up</a>
  <%end %>

</nav>