<nav>
  <% if logged_in? %>
  <div class="container">
      <h1><%=current_user.username.capitalize()%>, welcome to your game collection!</h1>
      
    </div>
    <a href="/games/index"> View Collection</a>
    <p></p>
    <a href="/games/new"> Add a new game </a>
    <p></p>
    <a href="/logout"> Log Out </a>
    

  <% else %>
  <div class="container">
      <h1> Welcome to MyGames!</h1>
      
    </div>
  <p>Please sign in or sign up below:</p>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>